extends layout

block layout-content
  .events-by-month
    h1 Astronomical Events by Month
    div.month-form
      p.instruction Add dates to get the results
      form(method="get", action="/events-by-month")
          select(name="month")
            - const selectedMonth = query && query.month ? query.month : '';
            option(value="1", selected=selectedMonth === '1' ? true : false) January
            option(value="2", selected=selectedMonth === '2' ? true : false) February
            option(value="3", selected=selectedMonth === '3' ? true : false) March
            option(value="4", selected=selectedMonth === '4' ? true : false) April
            option(value="5", selected=selectedMonth === '5' ? true : false) May
            option(value="6", selected=selectedMonth === '6' ? true : false) June
            option(value="7", selected=selectedMonth === '7' ? true : false) July
            option(value="8", selected=selectedMonth === '8' ? true : false) August
            option(value="9", selected=selectedMonth === '9' ? true : false) September
            option(value="10", selected=selectedMonth === '10' ? true : false) October
            option(value="11", selected=selectedMonth === '11' ? true : false) November
            option(value="12", selected=selectedMonth === '12' ? true : false) December 
          select(name="year")
            - const selectedYear = query.year ? query.year : '';
            - const currentYear = new Date().getFullYear();
            - for (let year = currentYear - 10; year <= currentYear + 10; year++)
              option(value=year, selected=selectedYear == year ? true : false)= year
          button.btn(type="submit") Get Events
    if events && events.length
      .gallery
        each event in events
          if event && event.media_type == "image"
            div.card
              a(href=`/event/${event.date}`)
                img.card-image(src=event.url, alt=event.title, style='cursor:pointer;')
              div.card-body
                h4.card-title= event.title
                  p.card-date= event.date
    else
      p No events found or data is unavailable. Please give some time for the page to finish loading.
