extends layout

block layout-content
    h1 Astronomical Events by Month
    p Add dates to get the results

    form(method="get", action="/events-by-month")
      div    
        select(name="month")
          option(value="1") January
          option(value="2") February
          option(value="3") March
          option(value="4") April
          option(value="5") May
          option(value="6") June
          option(value="7") July
          option(value="8") August
          option(value="9") September
          option(value="10") October
          option(value="11") November
          option(value="12") December
      div
        select(name="year")
          - const currentYear = new Date().getFullYear()
          - for (let year = currentYear - 10; year <= currentYear + 10; year++)
            option(value=year)= year
      div
        button(type="submit") Get Events

    if events && events.length
      div.gallery
        each event in events
          if event && event.media_type == "image"
            div.card
              img.card-image(src=event.url, alt=event.title)
              div.card-body
                h4.card-title= event.title
                p.card-date= event.date
                p.card-explanation= event.explanation
    else
      p No events found or data is unavailable.
